@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0;
}

/* header nav styles */
#header {
  margin: 0 140px;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.phone-icon {
  display: none;
}
.nav-heading {
  font-size: 32px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.nav-list-link {
  display: flex;
  gap: 5rem;
}
.nav-list {
  list-style: none;
}
.nav-links {
  text-decoration: none;
}
.home {
  color: #fea301;
  font-weight: bold;
  font-size: 20px;
  font-family: "Quicksand", serif;
}
.about {
  color: #01acfd;
  font-weight: bold;
  font-size: 20px;
  font-family: "Quicksand", serif;
}
.Facilities {
  color: #01acfd;
  font-weight: bold;
  font-size: 20px;
  font-family: "Quicksand", serif;
}
.Admission {
  color: #5d58ef;
  font-weight: bold;
  font-size: 20px;
  font-family: "Quicksand", serif;
}
.nav-btn {
  text-align: center;
  width: 197px;
  padding: 10px 60px;
  background-color: #fea301;
  border-radius: 12px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  font-family: "Quicksand", serif;
  display: block;
}
.nav-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-img {
  width: 100%;
  height: 70%;
}
.list-container {
  display: flex;
  align-items: center;
}
.btn-container {
  display: flex;
  align-items: center;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background: #43c287;
}

.marquee p {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Quicksand", serif;
  color: #ffffff;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* hero section style */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.hero-heading {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
}
.hero-heading-orange {
  color: #fea301;
}
.hero-heading-sky {
  color: #01acfd;
}
.hero-paragraph {
  font-family: "Quicksand", serif;
  color: black;
  font-size: 1.25rem;
  margin-top: 24px;
  margin-bottom: 24px;
}
.hero-btn {
  background-color: black;
  color: white;
  padding: 10px 47px;
  border-radius: 12px;
  border: none;
  font-family: "Quicksand", serif;
  font-weight: bold;
  font-size: 1.25rem;
}

/* main section */
.cards {
  margin: 0 140px;
  margin-bottom: 50px;
}

.main-section-heading {
  font-size: 46px;
  font-weight: bold;
  font-family: "Quicksand", serif;
  text-align: center;
}
.card-heading {
  font-size: 24px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}
.card-paragraph {
  font-size: 15px;
  font-weight: 500;
  color: #808080;
  font-family: "Raleway", serif;
}
.card-btn {
  font-size: 15px;
  font-weight: bold;
  font-family: "Quicksand", serif;
  color: #64c8ff;
}
.btn-2nd {
  color: #f0aa00;
}
.btn-3rd {
  color: #8700ff;
}
.card-container {
  background-image: linear-gradient(#c9e8f5, #ffffff);
  text-align: center;
  width: 336px;
  padding: 50px;
  border-radius: 18px;
  border: 2px solid #c2bcc2;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-container-2 {
  background-image: linear-gradient(#fff4dc, #ffffff);
}
.card-container-3 {
  background-image: linear-gradient(#f2e8ff, #ffffff);
}
.all-card-container {
  display: flex;
  justify-content: space-between;
}
.arrow {
  margin-top: 50px;
  font-size: 50px;
  background-color: #f0aa00;
  border-radius: 50%;
  color: #ffffff;
  padding: 10px;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
  margin-top: 50px;
}
/* child-card-section-styles */
.child-card-heading {
  font-size: 46px;
  font-weight: bold;
  font-family: "Quicksand", serif;
  text-align: center;
  margin-bottom: 50px;
}
/* story cards styles */
.story-1-heading {
  font-size: 28px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}
.story-1-paragraph {
  font-size: 20px;
  font-weight: 500;
  font-family: "Raleway", serif;
  color: #666666;
}
.btn-story-1 {
  border-radius: 47px;
  background-color: #3cd8e8;
  color: white;
  font-size: 15px;
  font-family: "Raleway", serif;
  border: none;
  padding: 5px 15px;
}
.btn-story-1-div {
  margin-left: 40px;
  margin-top: -22px;
}
.story-1 {
  background-color: white;
  border-radius: 16px;
  width: 50%;
  margin-bottom: 50px;
  margin-right: 20px;
}

.image {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.story-2-5 {
  /* margin-left: 140px;
  margin-right: 140px; */
  /* margin-bottom: 50px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 50%;
}
.all-story {
  display: flex;
  justify-content: space-between;
  margin: 0 140px;
}

.children-cards {
  background-image: url(../assets/bg.png), linear-gradient(#ffffff, #dfb670);
}
.head {
  padding: 10px;
}
.content {
  padding: 30px;
  /* text-align: center; */
}
.image-2 {
  border-radius: 16px 16px 0 0;
  width: 100%;
}
.story-2-heading-div {
  background-color: #ffffff;
  border-radius: 16px;
  /* width: 400px; */
}
.story-2-heading {
  font-size: 15px;
  font-weight: bold;
  font-family: "Quicksand", serif;
  padding: 10px;
}
.green {
  border-radius: 47px;
  background-color: #95b226;
  color: white;
  font-size: 15px;
  font-family: "Raleway", serif;
  border: none;
  padding: 5px 15px;
}
.vaiolate {
  border-radius: 47px;
  background-color: #5d58f0;
  color: white;
  font-size: 15px;
  font-family: "Raleway", serif;
  border: none;
  padding: 5px 15px;
}
.hero-btn-container {
  text-align: center;
  padding-bottom: 100px;
}
.footer {
  background-color: #01acfd;
  /* margin: 0 140px; */
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 0px;
}
.white {
  color: white;
}
.footer-heading {
  font-size: 42px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}
.footer-paragraph {
  font-size: 16px;
  font-family: "Quicksand", serif;
}
.footer-image {
  height: 85px;
}
.footer-heading-2 {
  font-size: 24;
  font-family: "Quicksand", serif;
  font-weight: bold;
}
.footer-heading-3 {
  font-size: 26;
  font-family: "Quicksand", serif;
  font-weight: bold;
}
.list {
  list-style: none;
}
.list-container-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  margin-left: -30px;
}
.fb-tw-google {
  margin-bottom: 100px;
}

/* break point 0f phone*/
@media screen and (max-width: 576px) {
  #header {
    margin: 0;
  }
  .center {
    text-align: center;
  }
  .nav {
    width: 100%;
    margin: 0;
    border-bottom: 2px solid #fea301;
    margin-bottom: 50px;
  }
  .phone-icon {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .nav-img {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 7px;
  }
  .list-container,
  .nav-heading,
  .btn-container {
    display: none;
  }
  .nav-heading {
    font-size: 15px;
  }

  .hero {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 50px;
  }
  .hero-image {
    width: 80%;
  }
  .image-container {
    text-align: center;
  }
  .hero-paragraph {
    text-align: center;
  }
  .hero-heading {
    text-align: center;
  }
  .hero-btn-container {
    text-align: center;
  }

  /* main section */
  .cards {
    margin: 0 auto;
  }
  .main-section-heading {
    font-size: 26px;
  }
  .all-card-container {
    flex-direction: column;
  }
  .card-container {
    width: 70%;
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .icon-div {
    display: none;
  }
  .story-1 {
    display: none;
  }
  .image-2 {
    border-radius: 16px 16px 0 0;
    /* width: 100%; */
  }
  .story-2-heading-div {
    background-color: #ffffff;
    border-radius: 16px;
  }
  .vaiolate {
    font-size: 10px;
  }
  .green {
    font-size: 10px;
  }

  .btn-story-1-div {
    margin-left: 6px;
    margin-top: -18px;
  }
  .story-2-5 {
    margin-left: -120px;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .story-s {
    width: 290%;
  }
  .story-2-heading {
    font-size: 12px;
    padding: 15px;
  }
  .footer {
    flex-direction: column;
    margin: 0;
  }
  .list-container-2 {
    margin-right: 200px;
  }
  .fb-tw-google {
    margin-right: 120px;
  }
  .google {
    display: flex;
    gap: 15px;
  }
  .head {
    padding: 0px;
  }
}
